.modContainer {
  margin-right: 2rem;
  margin-left: 2rem;
  @media (max-width: 768px) {
    margin-right: 1rem;
    margin-left: 1rem;
  }
}

.resume {
  display: flex;
  justify-content: center;
  padding-top: 20px;
  @media (max-width: 768px) {
    display: flex;
    flex-direction: column;
  }
}

.title {
  @media (max-width: 768px) {
    font-size: small;
  }
}

.description {
  @media (max-width: 768px) {
    font-size: small;
  }
}
